body {
    background-color: rgb(52, 52, 144);
}

.ball {
    display: flex;
    padding: 10px;
    background-color:orangered;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 50%
}