body {
    background-color: rgb(52, 52, 144);
    
}

.ball {
    display: flex;
    padding: 10px;
    background-color:orangered;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 50%;
    animation: bouncingBall 3s ease-in-out infinite;
}

@keyframes bouncingBall {
10% {
        width: 8px;
        height: 14px;
}
30% {
     width: 8px;
     height: 14px;

 }
 50% {
    width: 10px;
    height: 0px; 
    transform: translateY(400px);
 }
 75% {
    width: 5px;

}
100% {
    transform: translateY(0px);
}
}
.shadow {
    display: flex;
    padding: 10px;
    background-color:rgba(104, 103, 103, 0.432);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 50%;
    animation: shadow 3s ease-in-out infinite;
}

@keyframes shadow {
    10% {
            width: 8px;
            height: 14px;
    }
    30% {
         width: 8px;
         height: 14px;
    
     }
     50% {
        width: 10px;
        height: 0px; 
        transform: translateY(-10px);
     }
     75% {
        width: 5px;
    
    }
    100% {
        transform: translateY(0px);
    }
    }
    
/* @keyframes shadow {
    10% {
        width: 2px;
    }
    30% {
         width: 4px;
    
     }
     50% {
        width: 10px; 
     }
     70% {
        width: 4px;
    }
    90% {
         width: 2px;
    
     }
     100% {
         width: 0px;
     }
} */

